
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
    background-color: #2c2c2c;
}

th {
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
} 

.arrow-icon {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  filter: invert(100);
}

.dot {
  width: auto;
  padding-bottom: 10px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  margin-right: 15px;
  color: #646464;
}

.dot-white {
  color: white;
}

.table {
width: 60%;
border-radius: 10px;
border: 1px solid white;
margin-top: 100px;
margin-left: 50px;
border-spacing: 0;
margin-bottom: 50px;
}


.icon_2 {
  width: 20px;
  height: 17px;
  margin-right: 8px;
}

.icon_3 {
  width: 26px;
  height: 20px;
  margin-right: 8px;
}

.icon_3 {
  width: 30px;
  height: 25px;
  margin: 0 7px -8px -5px;
}

.coll-one {
    color: #cbcbcb;
}

.coll-two {
    color: #646464;
}

.coll-two, .coll-one {
    font-family: 'Open Sans', sans-serif;
    width: 400px;
}

.coll-two, .coll-one, .th-name, .th-date {
   padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
}

 td, th {
    border-bottom: 1px solid white
}

.last-line td, 
.last-line th {
    border-bottom: none;
}

.search {
  background-color: rgb(70, 70, 70);
  border: none;
  border-radius: 5px;
  height: 10px;
  padding: 1px 1px 1px 10px;
  font-size: 15px;
  background-image: url("icon_4.png");
  background-repeat: no-repeat;
 
}

/*s.isearch {
  padding: 10px;
}